@custom-media --minTabletWidth (min-width: 768px);
@custom-media --minDesktopWidth (min-width: 1440px);

.clock {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    color: var(--tertiaryColor);
}

.clock__welcomeMessageWrapper {
    display: flex;
}

.clock__welcomeMessageWrapper h2 {
    font-size: 0.9375rem;
    line-height: 1.6667;
    letter-spacing: 0.1875rem;
    font-weight: 400;
    margin: 0 0 0 16px;

    @media (--minTabletWidth) {
        font-size: 1.125rem;
        line-height: 1.5555;
        letter-spacing: 0.225rem;
    }

    @media (--minDesktopWidth) {
        font-size: 1.25rem;
        line-height: 1.4;
        letter-spacing: 0.25rem;
    }
}

.clock__welcomeMessage--toggleDisplay {
    visibility: hidden;

    @media (--minTabletWidth) {
        visibility: visible;
    }

}

.clock__time {
    font-size: 6.25rem;
    line-height: 1;
    letter-spacing: -0.1563rem;
    font-weight: 700;
    margin: 16px 5px 0 0;

    @media (--minTabletWidth) {
        font-size: 10.9375rem;
        line-height: 1;
        letter-spacing: -0.28rem;
        margin: 0 12px 0 0;
    }

    @media (--minDesktopWidth) {
        font-size: 12.5rem;
        line-height: 1;
        letter-spacing: -0.3125rem;
        margin: 16px 11px 0 0;
    }
}

.clock__timezone {
    font-size: 0.9375rem;
    line-height: 1.867;
    letter-spacing: 0;
    font-weight: 300;
    margin: 0 0 0 0;

    @media (--minTabletWidth) {
        font-size: 2rem;
        line-height: 0.875;
    }

    @media (--minDesktopWidth) {
        font-size: 2.5rem;
        line-height: 0.7;
    }
}

.clock__location {
    font-size: 0.9375rem;
    line-height: 1.867;
    letter-spacing: 0.1875rem;
    font-weight: 700;
    margin: 16px 0 0 0;

    @media (--minTabletWidth) {
        font-size: 1.125rem;
        line-height: 1.555;
        letter-spacing: 0.225rem;
    }

    @media (--minDesktopWidth) {
        font-size: 1.5rem;
        line-height: 1.167;
        letter-spacing: 0.3rem;
    }
}