@custom-media --minTabletWidth (min-width: 768px);
@custom-media --minDesktopWidth (min-width: 1440px);

.quote {
    width: 324px;
    color: var(--tertiaryColor);
    margin: 0;

    @media (--minTabletWidth) {
        width: 572.33px;
    }
}

.quote--visible {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.quote--hidden {
    visibility: collapse;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.quote__textWrapper {
    display: flex;
}

.quote__text {
    width: 290px;
    font-size: clamp(0.75rem, 1.5267175572519085vw + 0.39217557251908397rem, 1.125rem);
    font-weight: 400;
    line-height: 1.8333;
    margin: 0 16.67px 0 0;
    quotes: "“" "”" "‘" "’";

    @media (--minTabletWidth) {
        width: 540px;
        line-height: 1.5555;
        margin: 0 15.67px 0 0;
    }
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__author {
    font-size: clamp(0.75rem, 1.5267175572519085vw + 0.39217557251908397rem, 1.125rem);
    font-weight: 700;
    line-height: 1.8333;
    margin: 8px 0 0 0;

    @media (--minTabletWidth) {
        line-height: 1.5555;
        margin: 13px 0 0 0;
    }
}

.quote__refresh {
    width: 16.67px;
    height: 16.67px;
    margin: 10.67px 0 0 0;
}

@media (hover: hover) {
    .quote__refresh:hover {
        cursor: pointer;
    }
}