@custom-media --minTabletWidth (min-width: 768px);
@custom-media --minDesktopWidth (min-width: 1440px);

.stats__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--statsBackgroundColor);
    backdrop-filter: blur(20.3871px);

}

.stats__container--expand {
    height: 256px;
    transition: all 0.25s ease-in-out;

    @media (--minTabletWidth) {
        height: 440px;
    }

    @media (--minDesktopWidth) {
        height: 400px;
    }
}

.stats__container--shrink {
    height: 0;
    transition: all 0.25s ease-in-out;
}

.stats {
    width: clamp(20.125rem, 54.961832061068705vw + 7.2433206106870225rem, 33.625rem);
    margin: auto 0 auto 26px;

    @media (--minTabletWidth) {
        width: clamp(33.625rem, 45.535714285714285vw + 11.767857142857142rem, 52.75rem);
        margin: auto 0 auto 64px;
    }

    @media (--minDesktopWidth) {
        margin: auto 0 auto 165px;
    }
}

.stats--hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.stats--visible {
    display: flex;
    flex-direction: column;
    gap: 16px;
    opacity: 1;
    transition: opacity 0.3s ease-in;

    @media (--minTabletWidth) {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
}

.stats div:nth-child(2) {
    @media (--minDesktopWidth) {
        padding-left: 94px;
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #30303025;
    }
}

.stats__itemGroupWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (--minTabletWidth) {
        gap: 48px;
        justify-content: space-between;
    }

    @media (--minDesktopWidth) {
        gap: 42px;
    }
}

.stats__itemGroup {
    display: flex;
    justify-content: space-between;

    @media (--minTabletWidth) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    @media (--minDesktopWidth) {
        gap: 9px;
    }

}

.stats__header {
    font-size: clamp(0.625rem, 0.7633587786259542vw + 0.446087786259542rem, 0.8125rem);
    font-weight: 400;
    line-height: 2.8;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.125rem;
    margin: 0;
    color: var(--statsFontColor);

    @media (--minTabletWidth) {
        font-size: clamp(0.8125rem, 0.2976190476190476vw + 0.6696428571428571rem, 0.9375rem);
        line-height: 2.153;
        letter-spacing: 0.1625rem;
    }

    @media (--minDesktopWidth) {
        line-height: 1.866;
        letter-spacing: 0.1875rem;
    }
}

.stats__content {
    font-size: clamp(1.25rem, 5.089058524173028vw + 0.05725190839694656rem, 2.5rem);
    font-weight: 700;
    line-height: 1.21;
    text-align: right;
    margin: 0;
    color: var(--statsFontColor);

    @media (--minTabletWidth) {
        font-size: clamp(2.5rem, 2.380952380952381vw + 1.3571428571428572rem, 3.5rem);
        line-height: 1.21025;
        text-align: left;
    }

    @media (--minDesktopWidth) {
        line-height: 1.2102;
    }
}