@custom-media --minTabletWidth (min-width: 768px);
@custom-media --minDesktopWidth (min-width: 1440px);

.imposter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imposter--expanded {
    height: 595.33px;
    margin: 31.67px 0 0 0;
    transition: all 0.25s ease-in-out;

    @media (--minTabletWidth) {
        height: 880px;
        margin: 80px 0 0 64px;
    }

    @media (--minDesktopWidth) {
        height: 646px;
        margin: 80px 0 0 0;
    }
}

.imposter--shrink {
    height: 272px;
    margin: 99px 0 0 0;
    transition: all 0.25s ease-in-out;

    @media (--minTabletWidth) {
        height: 367px;
        margin: 153px 0 0 64px;
    }

    @media (--minDesktopWidth) {
        height: 288px;
        margin: 56px 0 0 0;
    }
}